body{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #155263;
}

#title{
  background-color: #ffc93c;
  text-align: left;
  color: #155263;
}

h1, h2, h3{
  font-family: 'Poppins', sans-serif;
}

.h1-title{
  line-height: 1.5;
  font-size: 3rem;
}

.container-fluid{
  padding: 3% 10% 7%;
}

.pet-image-one{
  width:55%;
  transform:rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }

  .pet-image-one{
    transform:rotate(0);
    position: static;
  }

}

.navbar{
  padding: 0 0 2.5rem;
}

.navbar-brand{
  padding-bottom: 2.1rem;
  font-size: 2rem;
  font-weight:bolder;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family:'Raleway', sans-serif;
}

.download-button{
  margin: 5% 3% 5% 0;
}

#features {
  background-color: #fff;
  padding: 3% 10%;
  position: relative;
  z-index: 1;
}
.feature-box{
  padding: 5%;
}
.icon{
  font-size: 2rem;
  color: #07689f;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #40a8c4;
}

#testimonials{
  background-color: #a2d5f2;
}

.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 3% 15%;
}
#press{
  background-color: #a2d5f2;
  padding-bottom: 3%;
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing{
  padding: 3rem;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

#cta{
  background-color: #a2d5f2;
  padding: 5% 15% 2%;
}

.h3-cta{
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer{
  padding: 5% 15% 4%;
}






/* font-family: 'Poppins', sans-serif;

font-family: 'Raleway', sans-serif; */
